:root {
  --dashboard--width: 1fr;
  --icon--width: 20px;
  --icon--height: 20px;
}

@media (pointer:none), (pointer:coarse) {
  :root {
    --dashboard--width: 2.5fr;
  }
}

* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: var(--dashboard--width) 6fr;
}

img {
  width: var(--icon--width);
  height: var(--icon--height);
}

#sidebar {
  background-color: rgb(28, 147, 210);
  grid-row: 1 / 3;
  display: grid;
  grid-template-rows: 3fr repeat(10, 1fr) 15fr;
  grid-template-columns: 1fr 3fr;
  color: white;
  font-weight: bold;
  row-gap: 20px;
  align-items: center;
  text-align: left;
  word-break: break-all;
}

#header {
  background-color: white;
  box-shadow: 1px 1px 1px 1px #000000;
  z-index: 1;
  display: grid;
}

#content {
  background-color: rgb(227, 234, 241);
  display: grid;
}

/* sidebar */

#sidebar .iconWrapper:first-child img {
  width: calc(2 * var(--icon--width));
  height: calc(2 * var(--icon--height));
}

#sidebar p:first-of-type {
  font-size: 1.5em;
}

#sidebar p {
  font-size: 1.2em;
}

.iconWrapper{
  display: grid;
  justify-items: center;
}

/* header */

/* content */