* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-rows: 1fr 5fr;
  grid-template-columns: 1fr 4fr;
}

img {
  width: 20px;
  height: 20px;
}

#sidebar {
  background-color: rgb(28, 147, 210);
  grid-row: 1 / 3;
  display: grid;
}

#header {
  background-color: white;
  box-shadow: 1px 1px 1px 1px #000000;
  z-index: 1;
  display: grid;
}

#content {
  background-color: rgb(227, 234, 241);
  display: grid;
}

/* sidebar */
#sidebar * {
  color: white;
}

/* header */

/* content */